:root {
  --palette-light-main: rgb(236, 237, 238);
  --palette-dark-main: rgb(0, 0, 0);
  --palette-light: rgb(255, 255, 255);
  --palette-dark: rgb(45, 45, 45);
  --palette-light-blue: #42a5f5;
  --palette-pastel-blue: #2f579c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
